# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
abstract/
abstract/main.tex
abstract/BCA_Project_Report_Format.pdf
abstract/frontmatter.tex
abstract/hardware_documentation.tex
abstract/project front sheets.....pdf
abstract/report (1).pdf
abstract/chapters/chapter1.tex
abstract/chapters/chapter2.tex
abstract/chapters/chapter3.tex
abstract/chapters/chapter4.tex
abstract/chapters/chapter5.tex
abstract/chapters/chapter6.tex
abstract/chapters/chapter7.tex
abstract/hardware_documentation.tex
abstract/chapters/abstract.tex
abstract/images/Dark Theme Mode.png
abstract/images/Main Dashboard Overview.png
abstract/images/Physical Hardware Assembly of the SmartBreeze System.jpeg
abstract/images/Real-time AI Forecast Charting.png
abstract/images/Web Serial Connection Prompt.png
